:root {
	--darkGreen: #009900;
	--strongGreen: #00ff00;
	--gradientGreen: linear-gradient(to right, var(--strongGreen) 80%, var(--darkGreen) 100%);
}



/*** Elementos globales ***/
#logo-icon > span.yt-icon-shape > div > svg > g:nth-child(1) > path:nth-child(1) { fill: var(--strongGreen) } /* Icono de Youtube arriba a la izquierda */
#logo-icon > span.yt-icon-shape > div > svg > g:nth-child(1) > path:nth-child(2) {fill: black} /* Flecha del icono de Youtube arriba a la izquierda */
#progress.yt-page-navigation-progress {background: var(--gradientGreen)} /* Barra de progreso al cambiar página de página dentro de Youtube */
ytd-app {background-color: black} /* Fondo de página principal */
html[dark], [dark] {--yt-spec-brand-background-solid: #050505; --yt-spec-brand-background-primary: #050505; --yt-spec-general-background-a: #030303;} /* Fondo de subpartes de página */
ytd-browse[page-subtype=channels] {background: black} /* Fondo de página en un canal */
yt-icon, .yt-icon-container.yt-icon { color: var(--strongGreen) !important; } /* Iconos */
yt-icon.ytd-logo { color: #ddffdd !important; } /* Nombre YouTube parte superior izquierda */



/*** En el feed ***/
ytd-thumbnail-overlay-time-status-renderer[overlay-style=SHORTS] yt-icon.ytd-thumbnail-overlay-time-status-renderer {color: var(--darkGreen)} /* Icono de Youtube Shorts */
.ytThumbnailOverlayProgressBarHostWatchedProgressBarSegment {background: var(--gradientGreen)} /* Barra de progreso en miniaturas */
.guide-entry-badge.ytd-guide-entry-renderer {color: var(--strongGreen)} /* Icono de estar en directo */



/*** Dentro de un video ***/
tp-yt-paper-button.ytd-subscribe-button-renderer:not(subscribed) {background-color: var(--strongGreen); color: black} /* Botón de suscripción */
#movie_player > div.ytp-chrome-bottom > div.ytp-progress-bar-container > div.ytp-progress-bar > div.ytp-chapters-container > div > div.ytp-progress-list > div.ytp-play-progress.ytp-swatch-background-color {background: var(--gradientGreen)} /* Barra de progreso en video */
.ytp-swatch-background-color { background-color: var(--strongGreen) }; /* Círculo que acompaña a la barra de progreso en el video */
.ytp-swatch-color {color: var(--strongGreen)} /* Iconos de HD, HDR, 4K, 5K, 8K y 3D en la calidad de configuración de un video */
.ytp-sb-subscribe, a.ytp-sb-subscribe {background-color: var(--strongGreen); color: black} /* Botón de suscripción desde la parte inferior derecha del video */
.ytp-chrome-controls .ytp-button[aria-pressed]:after {background-color: var(--strongGreen)} /* Línea inferior del botón de subtítulos */
.ytp-live-badge[disabled]:before {background-color: var(--strongGreen)} /* Círculo en directo dentro del video */
.ytp-settings-button.ytp-hd-quality-badge:after, .ytp-settings-button.ytp-hdr-quality-badge:after, .ytp-settings-button.ytp-4k-quality-badge:after,
.ytp-settings-button.ytp-5k-quality-badge:after, .ytp-settings-button.ytp-8k-quality-badge:after, .ytp-settings-button.ytp-3d-badge-grey:after,
.ytp-settings-button.ytp-3d-badge:after {background-color: var(--darkGreen)} /* Iconos de HD, HDR, 4K, 5K, 8K y 3D en el engranaje de un video */
.ytp-menuitem[aria-checked=true] .ytp-menuitem-toggle-checkbox {background-color: var(--darkGreen)} /* Anotaciones en configuración de video */
.badge-style-type-live-now-alternate.ytd-badge-supported-renderer {background-color: var(--darkGreen)} /* Color de estar en directo (video) */
tp-yt-paper-button.ytd-subscribe-button-renderer[subscribed] {background-color: rgba(255,255,255,0.1); color: #aaa} /* Botón de suscripción una vez suscrito (se mantienen los colores originales) */
.ytp-popup {background-color: rgba(5,5,5,.9);} /* Fondo de opciones en video */
.ytd-segmented-like-dislike-button-renderer .style-scope .yt-icon { color: #ff0000 !important; } /* Botón de dislike (forma) */
yt-animated-icon[animated-icon-type="LIKE"] > ytd-lottie-player.yt-animated-icon > lottie-component.lottie-component > svg > g > g > g > path { fill: rgb(0, 0, 255) !important; stroke: rgb(0, 0, 255) !important; } /* Botón de like (forma) */



/*** En los comentarios ***/
#hearted.ytd-creator-heart-renderer {color: var(--strongGreen)} /* Corazones de likes de creadores de contenido */
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text, yt-formatted-string#content-text > a.yt-simple-endpoint.yt-formatted-string { color: var(--strongGreen) !important; } /* Color de respuestas y referencias */
